/* header styles*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

/* styles for main photo*/

aside{
    grid-column: 1/2;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../img/profile_girl.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0!important;
}

header>*{
    margin: 15px 0;
}

.user-name{
    font-size: 64px;
    font-weight: bold;
}

.btn-download-wrapper{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(217 217 217 / 39%);

}

 .btn-download{
    width: 90%;
    height: 100%;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    background: transparent;
}

svg{
    width: 20px;
    height: 20px;
}